html {
    overflow-y: scroll;
    scroll-behavior: smooth;
}
body {
    font-family: -apple-system,Segoe UI,Ubuntu,Helvetica,Arial;
    background-color: #fafbfc;
    color: #353739;
    margin: 0;
}
div#container {
    position: relative;
    width: 70%;
    margin: 2em auto 0 auto;
    }
table#data {
    border-collapse: collapse;
    width: 100%;
    margin: 3em 0;
    table-layout: fixed;
}
table#data tr {
    border-bottom: 1px solid #ddd;
}
table#data th {
    padding: 5px 0;
    text-align: left;
    font-weight: 600;
}
table#data td {
    padding: 5px 0;
    vertical-align: top;
    word-wrap: break-word;
}
header {
    text-align: center;
}
header h1 {
    margin: 0;
}
header p {
    color: #ef3800;
    font: bold 150% Tahoma,Verdana;
    margin: 0;
    width: 75%;
    float: right;
}
div#searchbox {
    display: flex;
    margin: 4em auto 0 auto;
}
input#url {
    font-size: 1.1em;
    height: 2.8em;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    padding-left: .75em;
    width: 80%;
    outline: none;
}
button#scan {
    color: white;
    background-color: #0d6efd;
    border: 0;
    border-radius: 0 5px 5px 0;
    height: 2.8em;
    font-size: 1.1em;
    font-weight: 600;
    flex-grow: 1;
    outline: none;
}
button#scan:hover {
    background-color: #2779bd;
}
sup {
    color: #777;
}
progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 5px;
    width: 100%;
    background-color: transparent;
    border: 0;
    margin: 5px 0;
}
progress::-webkit-progress-bar {
    background-color: transparent;
}
progress::-webkit-progress-value {
    background-color: #3490dc;
}
progress::-moz-progress-bar {
    background-color: #3490dc;
}
span#status {
    float: right;
    font-size: 80%;
}
a {
    color: inherit;
    text-decoration: underline;
    text-decoration-skip: ink;
}
a:hover {
    text-decoration: none;
}
a#link {
    color: inherit;
    text-decoration: none;
}
span#source {
    position: fixed;
    right: 1em;
    bottom: 1em;
    background-color: #fafbfc;
}
@media (max-width: 800px) {
    body, table, span {
        font-size: 75%;
    }
    div#container {
        width: 95%;
    }
    img#logo {
        width: 80%;
    }
}

.corner-ribbon{
    width: 200px;
    background: #e43;
    position: absolute;
    top: 25px;
    left: -50px;
    text-align: center;
    line-height: 50px;
    letter-spacing: 1px;
    color: #f0f0f0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  /* Custom styles */

.corner-ribbon.sticky{
    position: fixed;
  }
  
.corner-ribbon.shadow{
box-shadow: 0 0 3px rgba(0,0,0,.3);
}

.corner-ribbon.top-right{
top: 22px;
right: -50px;
left: auto;
transform: rotate(45deg);
-webkit-transform: rotate(45deg);
}

.corner-ribbon.white{background: #f0f0f0; color: #0d6efd;}


#alert-clip{
    position: fixed;
    right: 50%;
	bottom: 1em;
    color : #0d6efd;
    border-color: #e9ecef;
}

#original-button{
    background-color: #e9ecef;
    border-color: #e9ecef;
}



/*Info page part*/
h3, h5 {
    color: #0d6efd;
}

#advanced{
    width: 100%;
}

#advanced td{
    padding: 10px;
    text-align: center;
}

#fieldset-algo legend{
    color:#0d6efd;
}

/* #fieldset-content{
    background-color: #e9ecef;
} */
#fieldset-algo{
    background-color: #e9ecef;

}