[Flask_server]
ip = 127.0.0.1
port = 7005
sk_similarity = False
debug = False

[Flask_api]
ip = 127.0.0.1
port = 7006
url_to_server = https://typosquatting-finder.circl.lu

[Thread]
num_threads = 10

[redis]
host = 127.0.0.1
port = 6379
db = 0

[redis_user]
host = 127.0.0.1
port = 6379
db = 1

[redis_warning_list]
host = 127.0.0.1
port = 6379
db = 2

[cache]
expire = 86400

[cache_session]
expire = 3600
